<h2>Products</h2>

<table border="1" width="80%" style="margin:auto;">
<thead>
<tr>
<th>ID</th>
<th>Name</th>
<th>Status</th>
<th>Action</th>
</tr>
</thead>
<tbody>

@for(product of products; track product.id){

<tr>
<td>{{product.id}}</td>
<td>{{product.name}}</td>
<td>{{product.status}}</td>
<td>{{product.category}}</td>
<td>
<a class="btn-view" [routerLink]="['/prodManagement/view-details', product.id,'details']" (onclick)="getProduct(product)">View</a>

</td>
</tr>
}

</tbody>
</table>





